.error {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:80%;
    padding:20px;
    border:1px solid #eee;
    border-left-width:5px;
    border-radius: 3px;
    margin:10px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-left-color: #d9534f; /* Left side border color */
    background-color: rgb(56, 56, 56);
    &__warn {
        font-weight: 600;
        color:#d9534f;
    }
    &__button {
        border: none;
        background-color: transparent;
        font-size: 20px;
        outline: none;
        transition: all .2s;
        cursor: pointer;
        &:hover {
            background-color: #fff;
            transform: rotate(180deg);
            border-radius: 50%;
        }
    }
}