.modal {
    --primary-neon:rgba(49, 196, 190, 0.75);
    --light-neon:rgba(49, 196, 190, 0.65);
    --pulse-neon:rgba(49, 196, 190, 0.35);
    --bright-neon:rgba(49, 196, 190, 0.25);
    --off-neon:#333;
    
    --neon-shadow:0 0 7px 4px var(--light-neon), 0 0 7px 4px var(--light-neon) inset;
    --neon-shadow-pulse:0 0 8px 5px var(--pulse-neon), 0 0 8px 5px var(--pulse-neon) inset;
    --neon-shadow-bright:0 0 8px 4px var(--bright-neon), 0 0 8px 4px var(--bright-neon) inset;
    --neon-shadow-text:0 0 7px var(--primary-neon);
    
    width:calc(20vw + 6px);
    height:calc(8vw + 6px);
    border:3px solid var(--primary-neon);
    border-radius:5px;
    font-size:3vw;
    font-weight:bold;
    box-shadow:var(--neon-shadow);
    animation:flicker 10s linear infinite;
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: rgb(56, 56, 56);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

    &__title {
        font-size: 20px;
        color:#fff;
    }

    &__btn__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
    }

    &__btn--yes, &__btn--no {
        margin: 15px;
    }
  }

  
  
  @keyframes flicker {
    0% {
      box-shadow:var(--neon-shadow);
    }
    45% {
      box-shadow:var(--neon-shadow-pulse);
    }
    90% {
      box-shadow:var(--neon-shadow);
      border-color:var(--primary-neon);
      color:var(--primary-neon);
      text-shadow:var(--neon-shadow-text);
    }
    90.01% {
      box-shadow:none;
      border-color:var(--off-neon);
      color:var(--off-neon);
      text-shadow:none;
    }
    94% {
      box-shadow:none;
      border-color:var(--off-neon);
    }
    94.01% {
      box-shadow:var(--neon-shadow);
      border-color:var(--primary-neon);
    }
    95% {
      box-shadow:var(--neon-shadow);
      border-color:var(--primary-neon);
    }
    95.01% {
      box-shadow:none;
      border-color:var(--off-neon);
    }
    95.5% {
      box-shadow:none;
      border-color:var(--off-neon);
    }
    95.51% {
      box-shadow:var(--neon-shadow);
      border-color:var(--primary-neon);
    }
    96% {
      box-shadow:var(--neon-shadow);
      border-color:var(--primary-neon);
    }
    96.01% {
      box-shadow:none;
      border-color:var(--off-neon);
    }
    96.5% {
      box-shadow:none;
      border-color:var(--off-neon);
    }
    96.51% {
      box-shadow:var(--neon-shadow-bright);
      border-color:var(--primary-neon);
    }
    100% {
      box-shadow:var(--neon-shadow);
      border-color:var(--primary-neon);
    }
  }